{% extends "layout.html" %}
{% block content %}
    <div class="content">
        <div class="header">
            <img src="/static/logo.svg" alt="Angry Reviewer">
            <a href="/" class="logo"><h1>Angry Reviewer</h1></a>
            <div class="header-right">
            <a href="/">Corrector</a>
            <a href="/rules">Rules</a>
            <a class="active" href="/about">About</a>
            </div>
        </div>
        <div class="container">
        <p>The Angry Reviewer is a free and open-source project. These algorithms were gathered and implemented by Roman Anufriev based on <a href="/rules">articles, books</a>, and lectures on scientific writing as well as his experience in academia.</p>

        <h2>Plugins</h2>

        <p>There are offline plugins for Vim and LibreOffice. Plugins for other platforms are in development. If you know how to develop plugins for Word or web browsers, your help would be highly appreciated!</p>
        <ul>
            <li><a href="https://github.com/anufrievroman/vim-angry-reviewer">Vim plugin</a>. The plugin works offline, suggestions are opened in a quick-fix buffer.</li>
            <li><a href="https://extensions.libreoffice.org/en/extensions/show/5728">LibreOffice extension</a>. The extension works offline, suggestions are opened as a new document.</li>
        </ul>

        <h2>Privacy</h2>

        <p>This website does not save or store your text, as you can verify in the source code. If you still worry about privacy, you can use offline plugins above or just download the python code, and run the flask app locally on your computer.</p>

        <h2>Contacts</h2>
        <p>For suggestions and issues regarding the algorithm, feel free to open an issue on Github. If you wish to discuss this website or some of the rules, you can find current contacts of the author with the link below.

        <h2>Updates</h2>
        <ul>
            <li>2021 Oct 22. Adding check for articles with names of laws etc, and many small fixes.</li>
            <li>2021 Sep 14. Adding check for cliches, redundancies, and comparative absolutes.</li>
            <li>2021 Sep 11. Adding check for zombie nouns.</li>
            <li>2021 Sep 10. Adding check for the length of sentences.</li>
            <li>2021 Aug 27. Adding check LaTex best practices.</li>
            <li>2021 Aug 24. Improving check for abbreviations and chemical elements.</li>
            <li>2021 Aug 22. Adding check for overuse of introduction words.</li>
            <li>2021 Aug 20. Adding check for self-citation and many references in one place.</li>
            <li>2021 Aug 19. Adding check for length of title, abstract, and number of references.</li>
            <li>2021 Aug 18. Adding check for British variants and improving abbreviation algorithm.</li>
            <li>2021 Aug 16. Creating web version.</li>
            <li>2021 Feb 01. Adding check for figure references and units.</li>
            <li>2021 Jan 29. Improving rules.</li>
            <li>2020 Mar 12. First working version.</li>
        </ul>
        </br>
        <div class="buttons">
        <a href="https://github.com/anufrievroman/Angry-Reviewer">Source code</a> <a href="https://anufrievroman.com">Author</a> <a href="https://buymeacoffee.com/angryprofessor">Buy me a coffee</a> <a href="https://github.com/anufrievroman/vim-angry-reviewer">Vim plugin</a> <a href="https://extensions.libreoffice.org/en/extensions/show/5728">LibreOffice extension</a>
        </div>
        <br>
        <br>
        </div>
    </div>
    </body>
{% endblock content %}
