<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="Angry Reviewer">
    <meta property="og:url" content="https://www.angryreviewer.com">
    <meta property="og:title" content="Angry Reviewer - Academic style editor">
    <meta property="og:description" content="Free academic style corrector for modern scientific writing.!">
    <meta property="og:image" content="/static/logo_big.png">
    <meta property="twitter:image" content="/static/logo_big.png">
    <title>{{ title }}</title>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
