{% extends "layout.html" %}
{% block content %}
   <div class="content">
        <div class="header">
            <img src="/static/logo.svg" alt="Angry Reviewer">
            <a href="/" class="logo"><h1>Angry Reviewer</h1></a>
            <div class="header-right">
            <a href="/">Corrector</a>
            <a class="active" href="/rules">Rules</a>
            <a href="/about">About</a>
            </div>
        </div>
        <div class="container">
        <div class="nicetext">
        <h2>Literature</h2>
        <p>The rules used by Angry Reviewer are based on various journal guidelines, articles, books, and lectures on modern academic writing. Perhaps, the main source of inspiration is <a target="_blank" href="https://www.amazon.com/gp/product/1441982876/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1441982876&linkCode=as2&tag=angryreviewer-20&linkId=515ed6b7859f4cb32bf81096767a2187">The Craft of Scientific Writing</a> by Michael Alley. To learn more about the rules used by Angry Reviewer, see the literature below.
        <h3>Books</h3>
        <ul>
        <li><a target="_blank" href="https://www.amazon.com/gp/product/1441982876/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1441982876&linkCode=as2&tag=angryreviewer-20&linkId=515ed6b7859f4cb32bf81096767a2187">The Craft of Scientific Writing</a> by Michael Alley</li>
        <li><a target="_blank" href="https://www.amazon.com/gp/product/0060891548/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0060891548&linkCode=as2&tag=angryreviewer-20&linkId=2870de759abe188596d4a4a6d6dd6a8e">On Writing Well: The Classic Guide to Writing Nonfiction</a> by William Zinsser</li>
        <li><a target="_blank" href="https://www.amazon.com/gp/product/184816310X/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=184816310X&linkCode=as2&tag=angryreviewer-20&linkId=43d2bcffa21de4412b0356e410db988c">Science Research Writing for Non-Native Speakers of English</a> by Hilary Glasman-Deal</li>
        </ul>
        <h3>Articles</h3>
        <ul>
        <li><a href="https://www.nature.com/articles/nphys724">Elements of Style</a> - Nature Physics 3, 581 (2007)</li>
        <li><a href="https://www.novel-writing-help.com/prose-writing.html">How to Write With Style</a> - Article in Novel Writing Help blog</li>
        <li><a target="_blank" href="https://www.amazon.com/gp/product/1989862004/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=1989862004&linkCode=as2&tag=angryreviewer-20&linkId=1d1c261f7ee84ca53e41b6aa99d76e18">The Elements of Style</a> - by Strunk, W., Jr. and White, E.B.</li>
        </ul>

        <h2>Main principles</h2>
        <p>The algorithm knows hundreds of rules - stylistic, typographic, and just best practices. For the spell check you should rely on your text editor and other services. Below are the main guiding principles:</p>
        <ul>
        <li>Don't hype. Avoid words like novel, highly, clearly, greatly. Better still, avoid all adverbs.</li>
        <li>Don't use clichés. In a nutshell, by and large, they are clear as mud.</li>
        <li>Don't use "very" very often. Usually, there is a better word for it.</li>
        <li>Be concise. Avoid phrases like "by means of, despite the fact that, in order to".</li>
        <li>Avoid negatives. For example, use "unable" instead of "not able".</li>
        <li>Avoid redundancy. For example, use "investigate" instead of "conduct an investigation of".</li>
        <li>Use active voice. Although not always possible, most of the text should be in active voice.</li>
        <li>Avoid inappropriate language. Keep words like "really, actually, pretty much" for social networks.</li>
        <li>Avoid rare words and latinisms. Non credo all readers know the meaning.</li>
        <li>Keep abbreviations to minimum. Abbreviations are hard to read, consider just spelling it out.</li>
        <li>Beware of zombie nouns. Utilization of nominalization is causation of distraction.</li>
        </ul>
        <p>Beside these and many smaller rules, Angry Reviewer checks for typical typographic mistakes, references, chemical elements, abbreviations and other details.</p>
        <p>*Links to the books on this page are affiliate.</p>
        </div>
        <div class="buttons">
            <a href="https://buymeacoffee.com/angryprofessor" class="buttons">Buy me a coffee</a>
        </div>
        <br>
        <br>
        </div>
    </div>
{% endblock content %}
